body {
    background-color: white;
    text-align: center; 
}

h1 {
    color: green;
}

img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


ul {
    list-style: none;        
    padding: 0;              
    margin: 0 auto 20px;
}

li {
    text-align: center;

}


p {
        text-align: center;

}
